.info {
  display: inline-flex;
  border: 1px solid gray;
  border-radius: 10px;
  width: 178px;
  padding: 10px;
  &_logo {
    margin-right: 10px;
    img {
      border-radius: 50%;
      height: 68px;
      width: 68px;
      border: 1px solid #e4e0e0;
    }
  }

  &_detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 14px;
    &--name {
      font-size: 20px;
    font-weight: bold;
    }

    &--qq {
      font-size: 14px;
      color: gray;
    }
  }
}